.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 14px;
}

.container > * {
  width: auto;
}

.logo {
  display: inline-block;
  margin-right: auto;
}

.logo img {
  height: 22px;
  width: auto;
}