.slider {
  --frame: max(calc((100vw - var(--container)) / 2), var(--container-padding));

  padding-bottom: 36px;
  padding-left: var(--frame);
  padding-right: var(--frame);
  margin-left: calc(var(--frame) * -1);
  margin-right: calc(var(--frame) * -1);
}

.slider :global(.swiper-slide) {
  height: auto;
}

.slider :global(.swiper-button-prev),
.slider :global(.swiper-button-next) {
  border: none;
  border-radius: 50%;
  display: block;
  width: 48px;
  height: 48px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.10);
  line-height: 0;
  padding: 12px;
  position: absolute;
  z-index: 2;
  bottom: 12px;
  background-color: #fff;
  background-image: url('/icons/arrow-h.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;
}

.slider :global(.swiper-button-prev) {
  right: 50%;
  margin-right: 8px;

  transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.slider :global(.swiper-button-next) {
  left: 50%;
  margin-left: 8px;
}

.slider :global(.swiper-button-prev):active,
.slider :global(.swiper-button-next):active {
  background-color: #fafaff;
}